PORT=4001
NODE_ENV=development
ALLOWED_CORS=http://localhost:3000,http://localhost:5173

# SuperAdmin
FIRSTNAME=
LASTNAME=
EMAIL=
PASSWORD=

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=kodashub_user
DATABASE_PASSWORD=securePassword123
DATABASE_NAME=kodashub_db

# SMTP Mail
SMTP_USER=
POSTMARK_API_KEY=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=1h

# Whois
WHOIS_API_KEY=
WHOIS_ID=
WHOIS_KEY=

# Reseller APIs
GO54_ENDPOINT=
GO54_USERNAME=
GO54_API_KEY=

# Payment
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=

FRONTEND_URL=
