PORT=4001

# SuperAdmin
FIRSTNAME=
LASTNAME=
EMAIL=
PASSWORD=

# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# SMTP Mail
SMTP_USER=
POSTMARK_API_KEY=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=1h

# Whois
WHOIS_API_KEY=
GO54_ENDPOINT=
GO54_USERNAME=
GO54_API_KEY=

# Payment
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=

FRONTEND_URL=
